
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Abel', sans-serif;
}

.sorts {
    display: flex;
}

.sort {
    padding: 5px;
    background-color: antiquewhite;
    margin-right: 5px;
}

.sort:nth-child(1) {
    background-color: brown;
    color: white;
}

.range {
    font-size: 18px;
    margin-left: 10px;
    padding: 5px;
    background-color: beige;
    border: solid 1px #efefef;
}